/* ---- blinkingAnimationForCaseProgressBlocks ----- */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 2s infinite;
}
/* ---- blinkingAnimationForCaseProgressBlocks ----- */
