@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-right: 100px;
  padding-left: 100px;

  margin: 0;
}
